* {
    margin: 0;
    padding: 0;

}
header {
    background-image: url(../Petshop/fundo-topo.jpg);
    margin: 0 auto;
    padding: 10px 0;
}

header > h1 {
    text-align: center;
    height: 84px;
    margin: 0 auto;
}

